<ul>
    <li ng-click="setMenu(1)" ng-class="{'active':menuManager==1}">
        <a href="#index">
            <i class="ALiconfont icon-shangwuqu"></i> 留言管理
        </a>
    </li>
    <li ng-click="setMenu(2)" ng-class="{'active':menuManager==2}">
        <a href="#index">
            <i class="ALiconfont icon-xinyongfen"></i> 人员管理
        </a>
    </li>
    <li ng-click="setMenu(3)" ng-class="{'active':menuManager==3}">
        <a href="#index">
            <i class="ALiconfont icon-order" style="font-size:20px"></i> 统计分析
        </a>
    </li>
</ul>


