<div class="history-container">
    <a class="return-btn" href="javascript:history.go(-1)">
        <i class="ALiconfont icon-sortleft"></i>
        返回
    </a>
    <ul class="history-list">
        <li><a href="#index">服务监督</a></li>
        <li><a href="#index">人员管理</a></li>
        <li>回复人员</li>
    </ul>
</div>
<div class="tool-bar">
    <div class="bar-full message-tips">
        <a class="btn btn-success btn-addon" ng-click="showCard('#detail',form.dataInit())"><i class="glyphicon glyphicon-plus"></i>添加帐号</a>
    </div>
    <div>
        <div class="btn-group">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{media.search?(media.search==1?'工号':'账号'):'姓名'}} <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" style="min-width:66px">
                <li ng-click="media.search=0"><a>姓名</a></li>
                <li ng-click="media.search=1"><a>工号</a></li>
                <li ng-click="media.search=2"><a>账号</a></li>
            </ul>
        </div>
    </div>
    <div>
        <form ng-submit="search(searchText)" class="input-group search-bool">
            <input type="text" class="form-control" ng-model="searchText" placeholder="检索">
            <span class="input-group-btn">
                <button type="submit" class="btn btn-default" type="button"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
            </span>
        </form>
    </div>
</div>
<div class="page-main">
    <div class="table-container" style="bottom:54px;">
        <table class="table table-bordered table-hover bg-white" style="margin:-1px 0 0 -1px">
            <thead>
                <tr>
                    <th>帐号</th>
                    <th>姓名</th>
                    <th class="sort" ng-class="{'sort-up':media.orderfield=='name' && media.ordertype=='asc','sort-down':media.orderfield=='name' && media.ordertype=='desc'}" ng-click="setOrder('name')">工号</th>
                    <th>所属部门</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in list">
                    <td>{{item.account}}</td>
                    <td>{{item.username}}</td>
                    <td>{{item.jobnumber}}</td>
                    <td>{{item.sname}}</td>
                    <td>
                        <button type="button" class="btn btn-link btn-xs" ng-click="showCard('#detail',form.dataInit(item))">编辑</button>
                        <button type="button" class="btn btn-link btn-xs" ng-click="delete(item.id)">删除</button>
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="10" ng-hide="media.recordCount" class="empty">没有检索到人员登记纪录</td>
                </tr>
            </tfoot>
        </table>
        
    </div>
    <div class="page-controller">
        <div class="page-number">
            <ul class="pagination">
                <li ng-class="{disabled:media.epage<2}">
                    <a aria-label="Previous" ng-click="setPage(-1)">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li ng-show="media.epage-2>0"><a ng-click="setPage(-2)">{{media.epage-2}}</a></li>
                <li ng-show="media.epage-1>0"><a ng-click="setPage(-1)">{{media.epage-1}}</a></li>
                <li class="active"><a>{{media.epage}}</a></li>
                <li ng-show="media.epage+1<=media.pageCount"><a ng-click="setPage(1)">{{media.epage+1}}</a></li>
                <li ng-show="media.epage+2<=media.pageCount"><a ng-click="setPage(2)">{{media.epage+2}}</a></li>
                <li ng-class="{disabled:media.epage>=media.pageCount}">
                    <a aria-label="Next" ng-click="setPage(1)">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="page-size">
            共{{media.recordCount}}条记录，每页显示
            <div class="btn-group dropup">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{media.pagesize}} <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" style="min-width:54px">
                    <li ng-click="setPageSize(10)"><a>10</a></li>
                    <li ng-click="setPageSize(20)"><a>20</a></li>
                    <li ng-click="setPageSize(30)"><a>30</a></li>
                    <li ng-click="setPageSize(50)"><a>50</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="info-card fadeIn animated" info-card id="detail">
    <div class="info-card-wrapper">
        <div class="info-card-dialog">
            <div class="info-card-content">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        {{form.status?"编辑":"新增"}}回复人员
                        <a class="info-card-close"><i class="ALiconfont icon-close"></i></a>
                    </div>
                    <div class="panel-body">
                        <form ng-submit="form.subSave(closeCard('#detail'))">
                        <table class="table-form table-bordered bg-white">
                            <tbody>
                                <tr>
                                    <td class="require">工号</td><td><input type="text" ng-model="form.jobnumber" /></td>
                                </tr>
                                <tr>
                                    <td class="require">姓名</td><td><input type="text" ng-model="form.username" /></td>
                                </tr>
                                <tr>
                                    <td class="require">联系方式</td><td><input type="text" ng-model="form.contactmode" /></td>
                                </tr>
                                <tr>
                                    <td class="require">角色</td>
                                    <td>
                                        <select disabled class="form-control" style="display:inline-block;width:auto">
                                            <option value="0">回复人员</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="require">帐号</td><td><input type="text" ng-disabled="form.status" ng-model="form.account" /></td>
                                </tr>
                                <tr>
                                    <td class="require">新密码</td><td><input type="password" ng-model="form.password" /> <span style="font-size:12px">若不输入，则不更改密码</span></td>
                                </tr>
                                <td></td><td class="td-btn-box">
                                        <button type="submit" class="btn" ng-class="{'btn-success':!form.status,'btn-info':form.status}">{{form.status?'保存':'提交'}}</button>
                                    </td>
                            </tbody>
                        </table>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>