<ul class="menu-container" ng-show="menuManager==1">
    <li>
        <div class="menu-title">留言处理</div>
        <ul class="menu-list">
            <li>
                <a href="#message">
                    <i class="ALiconfont icon-message1" style="line-height: 45px;background-color:#02cf97;font-size:25px"></i>
                    留言管理
                </a>
            </li>
        </ul>
    </li>
    <li>
        <div class="menu-title">功能设置</div>
        <ul class="menu-list">
            <li>
                <a href="#messageSetting">
                    <i class="ALiconfont icon-set" style="background-color:#38adff;font-size:25px"></i>
                    留言设置
                </a>
            </li>
            <li>
                <a href="#template">
                    <i class="ALiconfont icon-wx" style="line-height: 45px;background-color:#02cf97;font-size:32px"></i>
                    模版消息
                </a>
            </li>
            <li>
                <a href="#setting">
                    <i class="ALiconfont icon-temple" style="line-height:35px;background-color:#ff9c00;font-size:28px"></i>
                    校区设置
                </a>
            </li>
        </ul>
    </li>
</ul>
<ul class="menu-container" ng-show="menuManager==2">
    <li>
        <div class="menu-title">人员管理</div>
        <ul class="menu-list">
            <li>
                <a href="#manager">
                    <i class="ALiconfont icon-jiaoseshezhi" style="line-height: 45px;background-color:#fc7257;font-size:25px"></i>
                    回复人员
                </a>
            </li>
        </ul>
    </li>
</ul>
<ul class="menu-container" ng-show="menuManager==3">
    <li>
        <div class="menu-title">统计分析</div>
        <ul class="menu-list">
            <li>
                <a>
                    <i class="ALiconfont icon-menu-develop" style="line-height: 45px;background-color:#ccc;font-size:22px"></i>
                    开发中...
                </a>
            </li>
        </ul>
    </li>
</ul>