<div class="history-container">
    <a class="return-btn" href="javascript:history.go(-1)">
        <i class="ALiconfont icon-sortleft"></i>
        返回
    </a>
    <ul class="history-list">
        <li><a href="#index">服务监督</a></li>
        <li><a href="#index">留言管理</a></li>
        <li>留言设置</li>
    </ul>
</div>
<div class="tool-bar">
    <div class="bar-full message-tips">
        <a class="btn btn-success btn-addon" ng-click="showCard('#detail',form.dataInit())"><i class="glyphicon glyphicon-plus"></i>新增类型</a>
    </div>
</div>
<div class="page-main">
    <div class="table-container" style="bottom:54px;">
        <table class="table table-bordered table-hover bg-white" style="margin:-1px 0 0 -1px">
            <thead>
                <tr>
                    <th>留言类型</th>
                    <th class="sort" ng-class="{'sort-up':media.orderfield=='colorgrade' && media.ordertype=='asc','sort-down':media.orderfield=='colorgrade' && media.ordertype=='desc'}" ng-click="setOrder('colorgrade')">颜色等级</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in list">
                    <td>{{item.messagetype}}</td>
                    <td style="color:#{{item.colorgrade?(item.colorgrade==1?'2772ee':(item.colorgrade==2?'f88311':'e11144')):'4bb622'}}">{{item.colorgrade?(item.colorgrade==1?'一般':(item.colorgrade==2?'紧急':'严重')):'普通'}}</td>
                    <td>
                        <button type="button" class="btn btn-link btn-xs" ng-click="showCard('#detail',form.dataInit(item))">编辑</button>
                        <button type="button" class="btn btn-link btn-xs" ng-click="delete(item.id)">删除</button>
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="10" ng-hide="media.recordCount" class="empty">没有检索到类型记录</td>
                </tr>
            </tfoot>
        </table>
        
    </div>
    <div class="page-controller">
        <div class="page-number">
            <ul class="pagination">
                <li ng-class="{disabled:media.epage<2}">
                    <a aria-label="Previous" ng-click="setPage(-1)">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li ng-show="media.epage-2>0"><a ng-click="setPage(-2)">{{media.epage-2}}</a></li>
                <li ng-show="media.epage-1>0"><a ng-click="setPage(-1)">{{media.epage-1}}</a></li>
                <li class="active"><a>{{media.epage}}</a></li>
                <li ng-show="media.epage+1<=media.pageCount"><a ng-click="setPage(1)">{{media.epage+1}}</a></li>
                <li ng-show="media.epage+2<=media.pageCount"><a ng-click="setPage(2)">{{media.epage+2}}</a></li>
                <li ng-class="{disabled:media.epage>=media.pageCount}">
                    <a aria-label="Next" ng-click="setPage(1)">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="page-size">
            共{{media.recordCount}}条记录，每页显示
            <div class="btn-group dropup">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{media.pagesize}} <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" style="min-width:54px">
                    <li ng-click="setPageSize(10)"><a>10</a></li>
                    <li ng-click="setPageSize(20)"><a>20</a></li>
                    <li ng-click="setPageSize(30)"><a>30</a></li>
                    <li ng-click="setPageSize(50)"><a>50</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="info-card fadeIn animated" info-card id="detail">
    <div class="info-card-wrapper">
        <div class="info-card-dialog">
            <div class="info-card-content">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        {{form.status?"编辑":"新增"}}留言类型
                        <a class="info-card-close"><i class="ALiconfont icon-close"></i></a>
                    </div>
                    <div class="panel-body">
                        <form ng-submit="form.subSave(closeCard('#detail'))">
                        <table class="table-form table-bordered bg-white">
                            <tbody>
                                <tr>
                                    <td class="require">留言类型</td><td><input type="text" ng-model="form.messagetype" /></td>
                                </tr>
                                <tr>
                                    <td class="require">颜色等级</td>
                                    <td>
                                        <select ng-model="form.colorgrade" class="form-control" style="display:inline-block;width:auto">
                                            <option value="0">普通</option>
                                            <option value="1">一般</option>
                                            <option value="2">紧急</option>
                                            <option value="3">严重</option>
                                        </select>
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;示例：
                                        <a class="btn btn-xs btn-success" style="border-radius:5px;">普通</a>
                                        <a class="btn btn-xs btn-info" style="border-radius:5px;">一般</a>
                                        <a class="btn btn-xs btn-warning" style="border-radius:5px;">紧急</a>
                                        <a class="btn btn-xs btn-danger" style="border-radius:5px;">严重</a>
                                    </td>
                                </tr>
                                <td></td><td class="td-btn-box">
                                        <button type="submit" class="btn" ng-class="{'btn-success':!form.status,'btn-info':form.status}">{{form.status?'保存':'提交'}}</button>
                                    </td>
                            </tbody>
                        </table>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>