<div class="history-container">
    <a class="return-btn" href="javascript:history.go(-1)">
        <i class="ALiconfont icon-sortleft"></i>
        返回
    </a>
    <ul class="history-list">
        <li><a href="#index">服务监督</a></li>
        <li><a href="#index">设置</a></li>
        <li>设置</li>
    </ul>
</div>
<div class="page-main" style="top:49px;">
    <div class="page-tree" tree>
        <ul>
            <li class="open" ng-repeat="group in treeSchoole">
                <a ng-click="media.show(0,group)" ng-class="{'branch':group.slist,'leaf':!group.slist}">{{group.campus}}</a>
                <ul ng-show="group.slist">
                    <li class="open" ng-repeat="item in group.slist||[]" >
                        <a ng-click="media.show(1,item,group.campus)" class="leaf">{{item.dutyname}}</a>
                    </li>
                    <li><a class="add" ng-click="media.add(1,group)"><i class="ALiconfont icon-plus1"></i> 添加服务中心</a></li>
                </ul>
            </li>
            <li><a class="add" ng-click="media.add(0)"><i class="ALiconfont icon-plus1"></i> 添加校区</a></li>
        </ul>
    </div>
    <form ng-submit="subSave()" class="from-container" style="left:225px;">
        <table class="table-form table-bordered bg-white">
            <tr>
                <td class="require" width="200">校区</td><td><input type="text" ng-disabled="media.type" ng-model="media.campus" /></td>
            </tr>
            <tr ng-show="media.type">
                <td class="require" width="200">服务中心</td><td><input type="text" ng-model="media.dutyname" /></td>
            </tr>
            <tr ng-show="media.type">
                <td class="require" width="200">选择人员</td>
                <td>
                    <select ng-model="media.staffkey" class="form-control" style="display:inline-block;width:auto;">
                        <option value="">请选择</option>
                        <option ng-repeat="manager in managerList" value="{{manager.staffkey}}">{{manager.username}}</option>
                    </select>
                </td>
            </tr>
            <tr ng-show="media.type">
                <td class="require" width="200">职责范围</td>
                <td>
                    <textarea ng-model="media.remarks" rows="3"></textarea>
                </td>
            </tr>
            <tr>
                <td></td><td>
                    <div class="btn-box">
                        <button type="submit" ng-class="{'btn-success':media.status,'btn-info':!media.status}" class="btn">{{media.status?'提交':'保存'}}</button>
                        <a ng-show="media.status == 0" ng-click="delete()" class="btn btn-danger">删除</a>
                    </div>
                </td>
            </tr>
            
        </table>
    </form>
</div>
