<div class="history-container">
    <a class="return-btn" href="javascript:history.go(-1)">
        <i class="ALiconfont icon-sortleft"></i>
        返回
    </a>
    <ul class="history-list">
        <li><a href="#index">服务监督</a></li>
        <li><a href="#index">留言管理</a></li>
        <li>入住</li>
    </ul>
</div>
<div class="tool-bar">
    <div class="bar-full message-tips">
        <a class="btn btn-success btn-addon" ng-click="showCard('#detail',form.dataInit())"><i class="glyphicon glyphicon-plus"></i>添加模板</a>
    </div>
    <div>
        <form ng-submit="search(searchText)" class="input-group search-bool">
            <input type="text" class="form-control" ng-model="searchText" placeholder="检索">
            <span class="input-group-btn">
                <button type="submit" class="btn btn-default" type="button"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
            </span>
        </form>
    </div>
</div>
<div class="page-main">
    <div class="table-container" style="bottom:54px;">
        <table class="table table-bordered table-hover bg-white" style="margin:-1px 0 0 -1px">
            <thead>
                <tr>
                    <th>模版名</th>
                    <th>ID</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in list">
                    <td>{{item.name}}</td>
                    <td>{{item.tid}}</td>
                    <td>
                        <button type="button" class="btn btn-link btn-xs" ng-click="showCard('#detail',form.dataInit(item))">编辑</button>
                        <button type="button" class="btn btn-link btn-xs">删除</button>
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="10" ng-hide="media.recordCount" class="empty">没有检索到留言纪录</td>
                </tr>
            </tfoot>
        </table>
        
    </div>
    <div class="page-controller" style="left:225px;">
        <div class="page-number">
            <ul class="pagination">
                <li ng-class="{disabled:media.epage<2}">
                    <a aria-label="Previous" ng-click="setPage(-1)">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li ng-show="media.epage-2>0"><a ng-click="setPage(-2)">{{media.epage-2}}</a></li>
                <li ng-show="media.epage-1>0"><a ng-click="setPage(-1)">{{media.epage-1}}</a></li>
                <li class="active"><a>{{media.epage}}</a></li>
                <li ng-show="media.epage+1<=media.pageCount"><a ng-click="setPage(1)">{{media.epage+1}}</a></li>
                <li ng-show="media.epage+2<=media.pageCount"><a ng-click="setPage(2)">{{media.epage+2}}</a></li>
                <li ng-class="{disabled:media.epage>=media.pageCount}">
                    <a aria-label="Next" ng-click="setPage(1)">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="page-size">
            共{{media.recordCount}}条记录，每页显示
            <div class="btn-group dropup">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{media.pagesize}} <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" style="min-width:54px">
                    <li ng-click="setPageSize(10)"><a>10</a></li>
                    <li ng-click="setPageSize(20)"><a>20</a></li>
                    <li ng-click="setPageSize(30)"><a>30</a></li>
                    <li ng-click="setPageSize(50)"><a>50</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="info-card fadeIn animated" info-card id="detail">
    <div class="info-card-wrapper">
        <div class="info-card-dialog">
            <div class="info-card-content">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        新增模板
                        <a class="info-card-close"><i class="ALiconfont icon-close"></i></a>
                    </div>
                    <div class="panel-body">
                        <table class="table-form table-bordered bg-white">
                            <tbody>
                                <tr>
                                    <td class="require">模版名</td><td><input type="text" ng-model="form.number" /></td>
                                </tr>
                                <tr>
                                    <td class="require">ID</td><td><input type="text" ng-model="form.name" /></td>
                                </tr>

                                <td></td><td class="td-btn-box">
                                        <a class="btn" ng-class="{'btn-success':!form.status,'btn-info':form.status}">{{form.status?'保存':'提交'}}</a>
                                    </td>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>